{% extends "inc/base.html" %}

{% load static %}

{% block content %}

    <h2 class="py-3 mb-3 border-bottom">Registration</h2>

    <p class="text-danger">Sorry, this email address already registered!</p>

    <form class="needs-validation" novalidate>
      <div class="row py-3 g-3">

        <div class="form-group row py-1 g-2">
            <div class="col-sm-2">
                <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputLogin" placeholder="User">
            </div>
        </div>

        <div class="form-group row py-1 g-2">
            <div class="col-sm-2">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            </div>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="inputEmail" placeholder="user@mail.ru">
            </div>
        </div>

        <div class="form-group row py-1 g-2">
            <div class="col-sm-2">
                <label for="inputNickName" class="col-sm-2 col-form-label">NickName</label>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputNickName" placeholder="UserNickName">
            </div>
        </div>

        <div class="form-group row py-1 g-2">
          <div class="col-sm-2">
              <label for="inputPassword" class="mb-3 sr-only">Password</label>
          </div>
          <div class="col-sm-4">
              <input type="password" id="inputPassword" class="mb-3 form-control" placeholder="Password" required>
          </div>
      </div>

      <div class="form-group row py-1 g-2">
        <div class="col-sm-2">
            <label for="inputPassword" class="mb-3 sr-only">Repeat password</label>
        </div>
        <div class="col-sm-4">
            <input type="password" id="inputPassword" class="mb-3 form-control" placeholder="Password" required>
        </div>
    </div>

        <div class="form-group row py-1 g-2">
            <div class="col-sm-2">
                <label for="inputNickName" class="col-sm-2 col-form-label">Upload Avatar</label>
            </div>
            <div class="col-sm-10 custom-file">
                <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
              </div>
        </div>

      </div>

      <div class="form-group row py-1 g-2">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
        <button class="btn btn-primary btn-lg" type="submit">Register!</button>
        </div>
      </div>
    </form>

{% endblock %}